/node_modules
/public/storage
/public/js
/public/css
/public/fonts
/public/*.js
/public/mix-manifest.json
/storage/*.key
/vendor

# Personal environment configuration files
/gcloud-service-account-key
.env
docker-compose.override.yml
webpack-personal.mix.js
.personal
gcloud-credentials.json

# IDE and operating system files and folders
Homestead.json
Homestead.yaml
/.idea
/.idea/workspace.xml
_ide_helper.php
.DS_Store
.bash_history

# Optional local storage folders (database, dev tools, ...)
/docker/data
/local-data
/mongodb

# Yarn log
yarn-error.log
package-lock.json

#phpunit results cache
.phpunit.result.cache

gcloud-credential.json

/.phpunit.cache
/public/build
/public/hot
.env.backup
.env.production
auth.json
npm-debug.log
/.fleet
/.vscode
